/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }

  .side-container {
    margin: 0 auto;
    padding: 5px 0;
    width: 30px;
    max-width: 100%;
  }

  .footer-container {
    margin: 0 auto;
    padding: 5px 0;
    width: 100%;
    max-width: 100%;
  }

  .main{
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
  }



  /* # SIDEBAR */

  .sidebar{
    background-color: #000000;
    width: 50px;
    height: calc(100vh - 100px);
    overflow-y: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    color: #A3A3A3;
    justify-content: space-between;
  }

  .library{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .logo{
    display: none;
  }

  .icon-container{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .icon{
    padding: 2px 0;
    width: 25px;
  }

  .icon-div1>.span, .icon-div2>.span, .icon-div3>.span{
    display: none;
  }

  .icon-div1:hover, .icon-div2:hover, .icon-div3:hover{
    color: white;
    border-left: 3px solid #ADFF2F;
  }

  .playlist-container{
    width: 100%;
    padding-top: 20px;
    display: none;
  }

  .playlist-container .button-container{
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .playlist-container .button-container>.text{
    padding-left: 10px;
  }

  .add-button{
    background-color: #D2D2D2;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-plus{
    color: black;
  }

  .list-container{
    width: 100%;
    flex-shrink: 1;
    overflow-y: auto;
  }

  .playlist-container>.title{
    color: white;
  }

  .playlist-list{
    list-style: none;
    width: 100%;
  }

  .playlist-list>li{
    padding: 8px 0;
  }

  .playlist-list>li:hover, .playlist-container .button-container:hover>.text, .download-container>.span:hover{
    color: white;
  }

  .playlist-container .button-container:hover>.add-button{
    background-color: white;
  }

  .profile{
    height: 80px;
    text-align: center;
  }

  .profile-container{
    border-radius: 50%;
    background-color: #A3A3A3;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download-img{
    height: 15px;
    margin-right: 10px;
  }

  .download-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .download-container>.span{
    display: none;
    font-size: 14px;
  }

  .profile-img{
    height: 20px;
  }

  .profile-hr{
    border-color: #A3A3A3;
    display: none;
  }

  .user-container{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .user-container>.span{
    margin-left: 10px;
    display: none;
  }

  /* # HEADER */

  .header{
    background-color: #0C0F14;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .header>.button-container{
    padding-right: 20px;
  }

  .header>.button-container>.button{
    border: 1px solid white;
    background-color: #0C0F14;
    color: white;
    border-radius: 25px;
    height: 50px;
    width: 200px;
  }

  .header>.button-container>.button:hover{
    height: 55px;
    width: 210px;
  }


  /* # CONTENT */

  .content{
    background-color: #141922;
    flex-grow: 1;
    color: #A3A3A3;
    height: calc(100vh - 100px);
    overflow-y: auto;
  }

  .musical-genres{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 10px;
    padding-top: 20px;
  }

  .musical-genres>p{
    font-size: 14px;
  }

  .recently-pleyed-container{
    padding-top: 30px;
    overflow-y: auto;
  }

  .recently-pleyed-container>.title{
    padding-bottom: 20px;
    color: white;
  }

  .card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 10%;
  }

  .card{
    width: 48%;
    text-align: center;
    height: 18%;
  }

  .card>h3{
    color: white;
    padding: 10px 0;
  }

  .img{
    width: 100%;
  }

  .round{
    border-radius: 50%;
  }

  .created-for>h2, .created-for>h3, .popular-artist>h2, .popular-artist>h3{
    padding-top: 20px;
  }

  .created-for>h2, .popular-artist>h2{
    color: white;
  }


  /* # FOOTER */
  .footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    z-index: 1;
    color: #D2D2D2;
  }

  .play-bar{
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .song-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 25%;
    flex-shrink: 0;
  }

  .song-pic{
    height: 40px;
  }

  .icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fa-heart, .fa-folder{
    color: #5F5F5F;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 20%;
    flex-grow: 1;
  }

  .playbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 20%;
    flex-grow: 1;
  }

  .buttons-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-top: 10px;
  }

  .play-container{
    border: 5px solid #D2D2D2;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .audio-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }


  .audio1{
    display: block;
    height: 5px;
    width: 90%;
    background-color: #5A5A5A;
    border-radius: 50px;
    z-index: 0;
  }

  .audio2{
    display: block;
    position: relative;
    bottom: 5px;
    height: 5px;
    right: 37%;
    width: 15%;
    background-color: white;
    border-radius: 50px;
    z-index: 1;
  }

  .elements-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-width: 30%;
    flex-shrink: 0;
  }

  .volume-container{
    width: 50%;
    padding-top: 5px;
    padding-left: 5%;
  }

  .fa-list-ul, .fa-tv, .fa-volume{
    padding: 0 5px;
  }


  .volume1{
    display: block;
    height: 5px;
    width: 80%;
    background-color: #5A5A5A;
    border-radius: 50px;
    z-index: 0;
  }

  .volume2{
    display: block;
    position: relative;
    height: 5px;
    bottom: 5px;
    right: 5%;
    width: 15%;
    background-color: white;
    border-radius: 50px;
    z-index: 1;
  }

  

  /* # RESPONSIVE */

  @media screen and (max-height: 680px){

    .list-container{
      height: calc(25vh);
    }

  }



  @media screen and (min-width: 576px){

    .sidebar{
      width: 200px;
    }

    .side-container{
      width: 170px;
    }

    .small-logo{
      display: none;
    }

    .logo{
      display: inline;
      height: 40px;
    }

    .icon-div1, .icon-div2, .icon-div3{
      display: flex;
      align-items: center;
    }

    .icon-div1>.span, .icon-div2>.span,.icon-div3>.span{
      display: inline;
      padding-left: 10px;
    }
    
    .playlist-container{
      display: block;
    }

    .download-container>.span{
      display: inline;
    }

    .download-container{
      justify-content: start;
    }

    .user-container>.span{
      display: inline;
      color: white;
    }

    .user-container{
      padding-top: 10px;
    }
    
    .profile-hr{
      display: block;
    }

    .profile{
      height: 90px;
    }

    .name-container{
      display: flex;
      justify-content: space-around;
    }

  }

  @media screen and (min-width: 992px){
  
    .icons-container{
      display: block;
    }
  
    .song-container{
      width: 300px;
      min-width: 0;
    }

    .card{
      padding-top: 20px;
      width: 24%;
      
    }
  
    .card-container{
      column-gap: 1%;
      row-gap: 10%;
    }

  }


  @media screen and (min-width: 1200px){
  
    .card-container{
      width: 100%;
    }

    .card{
      padding-top: 20px;
      width: calc(100% / 6.5);
      
    }

  }